.card-setup-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.card {
    border: 2px solid #c4c7ce;
    border-radius: 0.4rem;
    background-color: var(--color-white);
    color: var(--color-midnight-blue);
    padding: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card:hover {
    border: 2px solid var(--color-selected-border);
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card__title {
    margin-bottom: .4rem;
}

.card--selected {
    background: var(--color-selected-background);
    border: 2px solid var(--color-selected-border);
}

.card--setup-note {
    background-color: var(--color-midnight-blue);
    color: var(--color-white);
    margin-bottom: 2rem;
}

.card--note {
    transform: rotate(352deg);
    margin-right: 0.6rem;
}
