@import './base.css';
@import './menu.css';
@import './typography.css';
@import './search.css';
@import './card.css';
@import './form.css';
@import './step-counter.css';
@import './navigation.css';
@import './presets.css';
@import './setups.css';
@import './patterns.css';
@import './buttons.css';
@import './backpack.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.stitch-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.landing-view {
  text-align: center;
  align-items: center;
  place-content: flex-end;
  margin-bottom: 25rem;
  flex: 1;
}