.setup-preview--image {
    width: 430px;
    height: 145px;
    transform: rotate(353deg);
    position: relative;
    top: -20rem;
    left: 300px;
    /* -webkit-mask-image: url('./images/patterns/image-text.svg');
    mask-image: url('./images/patterns/image-text.svg'); */
}

.setup-preview--accordion {
    width: 456px;
    height: 223px;
    transform: rotate(5deg);
    position: relative;
    top: 0px;
    left: -100px;

    /* -webkit-mask-image: url('./images/patterns/accordion.svg');
    mask-image: url('./images/patterns/accordion.svg'); */
}


.setup-preview--cta {
    width: 420px;
    height: 150px;
    transform: rotate(357deg);
    position: relative;
    top: 30px;
    left: 500px;
    
    /* -webkit-mask-image: url('./images/patterns/cta.svg');
    mask-image: url('./images/patterns/cta.svg'); */
}